<nav class="control-navbar">
    <div class="navbar-container">
        <a href="/" class="button icon">Back</a>
        <a href="/" class="nav-logo"><$= pageName $></a>
        <span></span>
    </div>
</nav>