<div class="question-counter">
    <p><%= questionStatus.length %>/<%= questionStatus[0] %></p>
    <div class="counter-bars">
        <% questionStatus.forEach((status) => { %>
            <div class="<%= status %>"></div>
        <% }); %>
    </div>
</div>