<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="nav-logo">EduQuest</a>
        <div class="nav-links">
            <a href="/" class="<%= activeLink === '/'? 'active' : '' %>">Courses</a>
            <a href="/games" class="<%= activeLink === '/games'? 'active' : '' %>">Mini Games</a>
            <a href="/Leaderboard" class="<%= activeLink === '/Leaderboard'? 'active' : '' %>">Leaderboard</a>
            <a href="/login" class="<%= activeLink === '/login'? 'active' : '' %>">Log in</a>
        </div>
    </div>
</nav>