<!doctype html>
<html>

<head>
    <%- include('./components/head') %>
</head>

<body">
    <section class="container h-full sm:w-[600px] flex flex-col items-center justify-center">
        <div class="interactive-section">
            <img src="<%= questionImage %>" alt="question image"/>
            <p><%= question %></p>
        </div>
    </section>
</body>

</html>