<!doctype html>
<html>

<head>
    <%- include('./components/head') %>
</head>

<body>
    <%- include('./components/navbar', { activeLink: "/login" }) %>
    <%- include('./components/bottomNav', { activeLink: "/login" }) %>

    <p><$= errors[0] %></p>

    <section class="h-full container flex items-center justify-center">
        <form action="/" method="post" class="flex flex-col gap-2">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="e.g. John Doe">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="*************">
            <input type="submit" value="Log in">
        </form>
    </section>
</body>

</html>