@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .content-auto {
        content-visibility: auto;
    }
}

@layer base {
    :root {
        --text-50: 210 15% 5%;
        --text-100: 200 18% 10%;
        --text-200: 203 18% 20%;
        --text-300: 202 18% 30%;
        --text-400: 203 17% 40%;
        --text-500: 202 17% 50%;
        --text-600: 203 17% 60%;
        --text-700: 202 18% 70%;
        --text-800: 203 18% 80%;
        --text-900: 200 18% 90%;
        --text-950: 195 15% 95%;

        --background-50: 204 20% 5%;
        --background-100: 202 22% 10%;
        --background-200: 204 20% 20%;
        --background-300: 203 20% 30%;
        --background-400: 204 20% 40%;
        --background-500: 204 20% 50%;
        --background-600: 204 20% 60%;
        --background-700: 203 20% 70%;
        --background-800: 204 20% 80%;
        --background-900: 202 22% 90%;
        --background-950: 204 20% 95%;

        --primary-50: 199 76% 5%;
        --primary-100: 200 76% 10%;
        --primary-200: 200 75% 20%;
        --primary-300: 200 75% 30%;
        --primary-400: 200 75% 40%;
        --primary-500: 200 75% 50%;
        --primary-600: 200 75% 60%;
        --primary-700: 200 75% 70%;
        --primary-800: 200 75% 80%;
        --primary-900: 200 76% 90%;
        --primary-950: 202 76% 95%;

        --secondary-50: 202 76% 5%;
        --secondary-100: 203 76% 10%;
        --secondary-200: 203 75% 20%;
        --secondary-300: 203 75% 30%;
        --secondary-400: 203 75% 40%;
        --secondary-500: 203 75% 50%;
        --secondary-600: 203 75% 60%;
        --secondary-700: 203 75% 70%;
        --secondary-800: 203 75% 80%;
        --secondary-900: 203 76% 90%;
        --secondary-950: 205 76% 95%;

        --accent-50: 203 92% 5%;
        --accent-100: 203 92% 10%;
        --accent-200: 203 92% 20%;
        --accent-300: 203 92% 30%;
        --accent-400: 203 92% 40%;
        --accent-500: 203 92% 50%;
        --accent-600: 203 92% 60%;
        --accent-700: 203 92% 70%;
        --accent-800: 203 92% 80%;
        --accent-900: 203 92% 90%;
        --accent-950: 203 92% 95%;
    }
    .dark {
        --text-50: 195 15% 95%;
        --text-100: 200 18% 90%;
        --text-200: 203 18% 80%;
        --text-300: 202 18% 70%;
        --text-400: 203 17% 60%;
        --text-500: 202 17% 50%;
        --text-600: 203 17% 40%;
        --text-700: 202 18% 30%;
        --text-800: 203 18% 20%;
        --text-900: 200 18% 10%;
        --text-950: 210 15% 5%;

        --background-50: 204 20% 95%;
        --background-100: 202 22% 90%;
        --background-200: 204 20% 80%;
        --background-300: 203 20% 70%;
        --background-400: 204 20% 60%;
        --background-500: 204 20% 50%;
        --background-600: 204 20% 40%;
        --background-700: 203 20% 30%;
        --background-800: 204 20% 20%;
        --background-900: 202 22% 10%;
        --background-950: 204 20% 5%;

        --primary-50: 202 76% 95%;
        --primary-100: 200 76% 90%;
        --primary-200: 200 75% 80%;
        --primary-300: 200 75% 70%;
        --primary-400: 200 75% 60%;
        --primary-500: 200 75% 50%;
        --primary-600: 200 75% 40%;
        --primary-700: 200 75% 30%;
        --primary-800: 200 75% 20%;
        --primary-900: 200 76% 10%;
        --primary-950: 199 76% 5%;

        --secondary-50: 205 76% 95%;
        --secondary-100: 203 76% 90%;
        --secondary-200: 203 75% 80%;
        --secondary-300: 203 75% 70%;
        --secondary-400: 203 75% 60%;
        --secondary-500: 203 75% 50%;
        --secondary-600: 203 75% 40%;
        --secondary-700: 203 75% 30%;
        --secondary-800: 203 75% 20%;
        --secondary-900: 203 76% 10%;
        --secondary-950: 202 76% 5%;

        --accent-50: 203 92% 95%;
        --accent-100: 203 92% 90%;
        --accent-200: 203 92% 80%;
        --accent-300: 203 92% 70%;
        --accent-400: 203 92% 60%;
        --accent-500: 203 92% 50%;
        --accent-600: 203 92% 40%;
        --accent-700: 203 92% 30%;
        --accent-800: 203 92% 20%;
        --accent-900: 203 92% 10%;
        --accent-950: 203 92% 5%;
    }
}

body { @apply w-screen h-screen text-text-50 bg-background-900; }
a { @apply hover:text-accent-500; }

input { @apply py-2 px-4 border-2 bg-background-800 border-background-700 rounded-md; }
input[type="submit"] { @apply w-full p-2 bg-background-800 rounded-md border-2 border-background-700 hover:bg-background-700 hover:border-background-600; }
button { @apply w-max p-2 bg-background-800 rounded-md border-2 border-background-700 hover:bg-background-700 hover:border-background-600; }

.answer-button { @apply w-full sm:flex-1 text-left p-2 text-text-50 bg-background-800 rounded-md border-2 border-background-700 hover:bg-background-700 hover:border-background-600; }
.answer-button.wrong { @apply w-full sm:flex-1 text-left p-2 text-text-50 bg-red-200 rounded-md border-2 border-red-300 hover:bg-red-300 hover:border-red-400; }
.answer-button.correct { @apply w-full sm:flex-1 text-left p-2 text-text-50 bg-green-200 rounded-md border-2 border-green-300 hover:bg-green-300 hover:border-green-400; }

section.container { @apply mx-auto px-4; }
.container { @apply mx-auto px-4; }

.navbar { @apply fixed z-50 top-0 hidden sm:block w-full p-4 bg-background-900 border-background-800 border-b-2; }
.navbar-container { @apply  w-full flex items-center justify-between container; }
.nav-logo { @apply text-2xl font-bold; }
.nav-links { @apply flex gap-4; }

.bottom-nav { @apply sm:hidden w-full p-4 fixed bottom-0 z-50; }
.bottom-nav-container { @apply bg-background-800 w-full xs:w-max mx-auto p-4 flex justify-between xs:gap-8 rounded-md; }

.user-status { @apply w-full flex flex-col items-center justify-between sm:flex-row gap-8; }
.user-status .avatar { @apply w-16 h-16 aspect-square bg-background-800 rounded-md; }
.user-status .main .username { @apply sm:text-xl font-semibold; }
.user-status .main .exp { @apply text-text-500 font-semibold; }
.user-status .stats { @apply flex items-center gap-8 w-full justify-between sm:w-max sm:justify-start; }
.user-status .tag { @apply flex items-center gap-2; }
.user-status .tag img { @apply w-8 h-8 aspect-square bg-background-800 rounded-md; }
.user-status .tag p { @apply font-semibold text-text-500; }

.subject-card { @apply flex flex-col flex-grow justify-end w-full aspect-[3/2] sm:aspect-[3/4] bg-primary-500 bg-center rounded-md; }
.subject-card h2 { @apply text-2xl text-text-900 font-bold relative p-4; }

.games-card { @apply flex flex-col flex-grow justify-end w-full aspect-[3/2] sm:aspect-[3/4] bg-primary-500 bg-center rounded-md; }
.games-card h2 { @apply text-2xl text-text-900 font-bold relative p-4; }

.rank { @apply flex flex-col items-center gap-1; }
.rank img { @apply w-16 h-16; }
.rank h2 { @apply sm:text-xl font-semibold text-center; }

.top3-card { @apply flex flex-col items-center gap-1; }
.top3-card.first { @apply scale-110; }
.top3-card.second { @apply scale-105; }
.top3-card img { @apply w-16 h-16 aspect-square bg-background-800 rounded-full border-4 border-blue-500; }
.top3-card.first img { @apply border-yellow-500; }
.top3-card.second img { @apply border-blue-500; }
.top3-card.third img { @apply border-red-500; }
.top3-card .username { @apply sm:text-xl font-semibold text-center; }
.top3-card .exp { @apply font-semibold text-xs sm:text-text-300; }

.user-rank-card { @apply w-[500px] flex items-center justify-between p-2 border-2 border-background-800 rounded-md; }
.user-rank-card .main { @apply flex items-center gap-4; }
.user-rank-card img { @apply w-14 h-14 aspect-square bg-background-800 rounded-full border-2 border-background-800; }
.user-rank-card .username { @apply text-lg font-semibold; }
.user-rank-card .exp { @apply font-semibold text-text-400; }
.user-rank-card .position { @apply min-h-10 min-w-10 p-1 border-2 border-background-700 text-center rounded-full aspect-square; }
.user-rank-card .position i { @apply font-semibold text-text-600; }

.question-counter { @apply flex items-center gap-4; }
.question-counter p { @apply font-semibold; }

.question-timer { @apply flex items-center gap-4; }
.question-timer p { @apply font-semibold; }

.progress-bar { @apply flex-grow h-3 rounded-full bg-accent-800; }
.progress-fill { @apply h-full rounded-full bg-accent-500; }

.counter-bars { @apply flex-grow flex gap-2; }
.counter-bars div { @apply w-full h-3 rounded-full bg-accent-800; }
.counter-bars div.unsolved { @apply w-full h-3 rounded-full bg-accent-800; }
.counter-bars div.wrong { @apply w-full h-3 rounded-full bg-red-500; }
.counter-bars div.solved { @apply w-full h-3 rounded-full bg-accent-500; }

.courses { @apply grid grid-cols-1 gap-4 mt-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4; }
.games { @apply grid grid-cols-1 gap-4 mt-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4; }

.question-section { @apply flex flex-col items-center gap-2; }
.question-section img { @apply w-full aspect-[16/9] bg-background-800 rounded-md mt-4; }
.question-section p { @apply w-full text-left text-lg; }

.interactive-section { @apply flex flex-col items-center gap-2; }
.interactive-section img { @apply w-full aspect-[16/9] bg-background-800 rounded-md mt-4; }
.interactive-section p { @apply w-full text-left text-lg; }

.answer-section { @apply flex flex-col gap-2; }
.answer-buttons { @apply flex flex-col sm:grid grid-cols-2 gap-2; }

.top3-section { @apply flex gap-6 sm:gap-10 justify-center mt-10; }
.rank-section { @apply flex flex-col gap-4 items-center justify-center mt-10; }
